version: 2
updates:
  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: monthly
    open-pull-requests-limit: 5
    labels:
      - dependencies
      - patch-update
    commit-message:
      prefix: 'chore(deps)'
      include: scope
    ignore:
      # Ignore all minor and major updates, only allow patch
      - dependency-name: '*'
        update-types:
          - 'version-update:semver-minor'
          - 'version-update:semver-major'

  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: monthly
    labels:
      - dependencies
      - github-actions
    commit-message:
      prefix: 'chore(deps)'
      include: scope
